<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/react/react.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div style="background-color:black">
            <div style="color:red">
                <nav class="navbar-header">
                    <div class="container">
                        <a class="navbar-brand" href="#">Never Forget 1984</a>
                        <ul class="nav navbar-nav"></ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div style="background-color:black">
        <div class="nav-tabs">
            @Html.ActionLink("Home", "Home", "Home")
            @Html.ActionLink("Gallery", "Gallery", "Home")
            @Html.ActionLink("History", "History", "Home")
            @Html.ActionLink("Martryrs", "Matryrs", "Home")
        </div>
    </div>
  
        <div>
            @RenderBody()
        </div>
</body>
</html>
